<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="id03" class="modal-option">
    <div class="container">
        <div class="option">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <button class="option-button">Make Test</button>
        </div>
        <div  class="option">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <button class="option-button">Edit Test</button>
        </div>
        <div  class="option">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <button class="option-button">Take Test</button>
        </div>
    </div>
</div>
</body>
</html>
